<div id="activity_comment">
    <% activity_comments.forEach(function (activity_comment) { %>
    <div class="col-lg-8">
        <div class="page-header">
            <p><%= activity_comment.create_date %></p>
            <p><%= activity_comment.user.name %></p>
            <p><%= activity_comment.content %></p>
        </div>
    </div>
    <% }); %>
</div>

<div id="activity_submit" class="col-lg-8">
    <% if ($this.session.user) { %>
    <form class="ll" method="post" >
        <div class="field">
            <textarea name="content" id="activity_content"></textarea>
        </div>
        <input type="submit" class="ui button" value="留言" id="submit_1" >
    </form>
    <button type="button" id="submit2" onclick="activity_submit()">留言</button>
    <% } else { %>
    <p>请<a href="/signin">登陆</a>或者<a href="/signup">注册</a>,发表评论 </p>
    <% } %>
</div>

<script>
    function getCommentData(){
        var send_data = {};
        send_data.content = $("#activity_content").val();
        send_data.activity_id = $("#key1").val();
        return send_data;
    }

    function activity_submit() {
        $.post('/activity_comment_submit',getCommentData(), function (data) {
            console.log(data);
        });
    }

</script>