<setion class="admin">
    <div class="col-md-4 col-sm-12 main">
        <ul>
            <li><a href="/admin_u"> 用户管理 </a></li>
            <li><a href="/admin_activity">活动管理</a> </li>
            <li><a href="/admin_ask">问答管理</a> </li>
            <li><a href="/admin_job">招聘管理</a> </li>
            <li><a href="/admin_ug">激活相关</a> </li>
        </ul>
        <main class="admin show">
            <p>当前注册人数: </p>
            <p>当前发布活动数: </p>
            <p>当前发布问答数: </p>
            <p>当前数: </p>
        </main>
    </div>
</setion>