<ul class="nav nav-pills">
    <li class="active"><a href="good/tag=all">全部</a></li>
    <li><a href="#">最热</a></li>
    <li><a href="#">最新</a></li>
    <li><a href="#">音乐</a></li>
    <li><a href="#">运动</a></li>
    <li><a href="#">数码</a></li>
    <li><a href="#">学习</a></li>
    <li><a href="#">游戏</a></li>
    <li><a href="#">生活</a></li>
</ul>