<ul class="nav nav-pills">
    <li><a href="/good/all/1">全部</a></li>
    <li><a href="/good/music/1">音乐</a></li>
    <li><a href="/good/sport/1">运动</a></li>
    <li><a href="/good/3c/1">数码</a></li>
    <li><a href="/good/study/1">学习</a></li>
    <li><a href="/good/game/1">游戏</a></li>
    <li><a href="/good/life/1">生活</a></li>
</ul>