<% include header.ejs %>

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 part ">
                <a href="/about/#newer">快速上手</a>
                <a href="/about/#q">常见问题</a>
                <a href="/about/#about">关于</a>
                <a href="/about/#v">版本</a>
            </div>
            <div class="col-md-9 content">
                <span id="newer">
                    <h2>快速上手</h2>
                    <h4>1. 闲置 </h4>
                    <p>
                        在这里你可能会找到你想要的闲置，也可以在这里发布你的闲置。
                    </p>
                     <h4>2. 活动 </h4>
                    <p>
                        在这里你可以组织一些有趣的活动，比如骑行东钱湖，早读计划，篮球赛，可以统计参加的人数和交流
                    </p>
                     <h4>3. jobs </h4>
                    <p>
                        提供工作职位,欢迎浏览(*注: 来自学校教务网)
                    </p>
                     <h4>4. 你答 </h4>
                    <p>
                        百度知道？知乎？贴吧？如果可以，在这里可以得到更加适合你的答案。
                    </p>
                </span>
                <span id="q">
                    <h2>常见问题</h2>
                    <h4>1. 如何提交bug？</h4>
                    <p>可以直接在“你答”栏目中的置顶直接反馈，或者可以发送相关信息到joursion@126.com</p>
                     <h4>2. 怎么修改头像？ </h4>
                    <p>本站使用gravatar，Gravatar是Globally Recognized
                        Avatar的缩写,是gravatar推出的一项服务，意为“全球通用头像”。
                        如果在Gravatar的服务器上放置了你自己的头像，那么在任何支持
                        Gravatar的blog或者留言本上留言时，只要提供你与这个头像关联
                        的email地址，就能够显示出你的Gravatar头像来。</p>
                </span>
                <span id="about">
                    <h2>关于</h2>
                    <h4>
                        哦//////
                    </h4>
                </span>

                <span id="v">
                    <h2>日志</h2>
                    <h4>
                        2016.04.30
                    </h4>
                    <p>
                        1.新增jobs版块
                    </p>
                    <h4>
                          2016.03.18
                    </h4>
                    <p>
                        1.支持单张图片上传
                    </p>
                    <h4>2016.03.16</h4>
                    <p>
                        1.简单的移动端适配
                    </p>

                    <h4>2016.03.14</h4>
                    <p>
                        1.收藏，参加流程优化
                    </p>

                    <h4>2016.03.10</h4>
                    <p>
                        1.优化消息推送
                    </p>

                    <h4>
                        2016.03.09
                    </h4>
                    <p>
                        1.修复登陆错误
                        2.导航栏优化
                    </p>

                    <h4>
                        2016.03.06
                    </h4>
                    <p>
                        1.修复若干bug
                        2.修改发布逻辑
                    </p>
                </span>

            </div>
        </div>
    </div>
</div>


<% include footer.ejs %>