<% include header.ejs %>

<setion class="admin">
    <ul>
        <li><a href="/admin/u"> 用户管理 </a></li>
        <li><a href="/adimn/activity">活动管理</a> </li>
        <li><a href="/admin/ask">问答管理</a> </li>
        <li><a href="/admin/ug">激活相关</a> </li>
    </ul>
    <main class="admin show">
        <p>当前注册人数: </p>
        <p>当前发布活动数: </p>
        <p>当前发布问答数: </p>
        <p>当前数: </p>
    </main>
</setion>

<% include footer.ejs %>