
<div id="footer" class="col-lg-8">
    Powered by Aliyun   CDN:qiniu
    <address>
        <strong>联系</strong><br>
        <a href="mailto:#">joursion@126.com</a>
        <p><a href="baidu.com">开源地址</a> </p>
    </address>
</div>

<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget">
                    <h4>联系</h4>
                </div>

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</footer>
<div class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content">
                    <h5>Copyright © 2013-2016 菜鸟教程  runoob.com All Rights Reserved.
                        备案号：闽ICP备15012807号-1</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<link type="text/css" href="./publices/css/club.css">
<link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"
      rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!--<link type="text/css" href="./publices/bootstrap/css/bootstrap.min.css"
<link type="text/css" href="./publices/css/club.css">
<script type="text/javascript" src="./publices/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./publices/jquery-1.11.2.min.js"></script>-->

</body>
</html>