<% include header.ejs %>
<div class="show_index">
    <div class="first">
        <div class="pro">
            <div class="logo-img">
            </div>
            <p class="intro">一个专属nbut的分享社区</p>
            <p class="desc">你可以在这里发布你的闲置，活动，问答</p>
        </div>
    </div>
    <div class="sec">
        <div class="pro">
            <div class="logo-img">

            </div>
            <p class="intro">分享,发现</p>
            <p class="desc">生活，如此多娇</p>
        </div>
    </div>
</div>
<% include footer.ejs %>
